<label><span>{{field.label}}</span>
    <span ng-switch on="field.inputType">
    <input ng-switch-when="date" name="{{field.key}}" type="date" ng-model="field.value" ng-required="field.required"/>
    <input ng-switch-when="email" name="{{field.key}}" type="email" ng-model="field.value" ng-required="field.required"/>
    <input ng-switch-when="number" name="{{field.key}}" type="number" ng-model="field.value" ng-required="field.required"/>
    <input ng-switch-default name="{{field.key}}" type="text" ng-model="field.value" ng-required="field.required"/>
    </span>
    {{field.description}} - {{field.value}}</label>