<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" ng-app="activitiApp">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
    <title></title>
    <script src="/js/angular.min.js"></script>
    <script src="/app/controllers.js"></script>
</head>
<body class="starter-template">
<div class="container">
    <h1>Jobb</h1>

    <div class="starter-template" ng-controller="TaskController">
        <ul>
            <li ng-repeat="task in tasks">
                <span class="lead">{{task.title}}</span>

                <p>{{task.description}}</p>
                <button ng-click="show=!show" ng-init="show=false">Visa formulär</button>
                <form name="taskForm" ng-submit="post(task, values)" ng-controller="FormController" ng-show="show" ng-init="values={}">
                    <ul>
                        <li ng-repeat="field in task.fields" ng-include="templateUrlOf(field)"/>
                        <li>
                            <button type="submit">Starta</button>
                        </li>
                        <li><pre>{{values | json}}</pre></li>
                        <!-- <li><pre>{{taskForm | json}}</pre></li> -->
                    </ul>
                </form>
            </li>

        </ul>
    </div>
</div>
</body>
</html>